
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800&display=swap');
.header{
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
}
.fuzzy{
  background-color: #000000c7;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  z-index: 0;
}
.header_top{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 5rem;
  /* background-color: azure; */
}
.header_main{
  position: relative;
  top:5rem;
  z-index: 2;
  width: 100%;
  height: 70vh;
  display: flex;
}

.header_main .main_image{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  /* background-color: antiquewhite; */
}
.header_main .main_image img{
  width: 30rem;
  height: 30rem;
  position: relative;
  top: 5rem;
  border-radius: 50%;
  border: 1rem solid #ff0c2e42;
}
.header_main .main_info{
  width: 50%;
  /* background-color: beige; */
  padding-top: 10rem;
  padding-right: 10rem;
  padding-left: 1rem;
  color: gray;
  line-height: 4rem;
}
.header_main .main_info h3{
  font-size: 1.8rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.5rem 0;
  padding:0;
}
.header_main .main_info p{
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  margin: 0 0 2rem;
}
.header_main .main_info span{
  font-family: 'Poppins', sans-serif;
  color:#ffffff;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: .5rem 0;

}
.btn-header{
  display: flex;
}
.btn-header>a{
  color: #ffffff;
  text-decoration: none;
  padding: .5rem 3rem;
  background-image: linear-gradient(120deg, #aeb10d 0%, #ff4914 100%);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 2.5rem;
}

/* about */
.about{
  min-height: 100vh;
  background-color: #222222;
  
  font-family: 'Poppins', sans-serif;
}
.about .about_top{
  width: 100%;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}
.about .about_top h1{
  font-size: 4rem;
  color: white;
  font-weight: 700;
}
.about_info{
  display: flex;
  margin-top: 5rem;
  width: 100%;
  max-width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
}
.about_info .about_info_image{
  padding: 0 1.5rem;
  width: 50%;
  position: relative;
  z-index: 1;
}
.about_info .about_info_image::after{
  content: "";
  position: absolute;
  width: 67%;
  border: 1rem solid #ef18188f;;
  height: 100%;
  top: 3rem;
  left: 5rem;
  z-index: -2;
}
.about_info .about_info_image img{
  -webkit-box-shadow: 3px 3px #666;
  box-shadow: inset 8px 6px 0px #666, -17px 10px 3px #666;
  max-width: 40rem;
  margin: auto;
}
.about_info .about_info_list{
  width: 50%;
  font-size: 1.6rem;
}
.about_info .about_info_list ul{
  width: 35rem;
}
.about_info .about_info_list li{
  background-image: linear-gradient(120deg, #aeb10d 0%, #ff4914 100%);
  margin-bottom: 1.4rem;
  padding: .5rem 1rem;
  color: white;
}
.about_info .about_info_list span{
  margin-right: 2rem;
  opacity: .8;
}
.about_info .about_info_list span::after{
  content: ":";
}
.btn-about{
  margin-top: 4rem;
}
.btn-about a{
  background-image: linear-gradient(120deg, #aeb10d 0%, #ff4914 100%);
  max-width: 20rem;
  text-align: center;
  padding: 1.2rem;
  color: white;
  border-radius: 2rem;
}
.btn-about a:hover{
  background-image: none;
  border: .1rem solid red;
}

/* about */